*{
    margin:0;
    padding:0;
}


body {
    background-color: #f8f9fa;
}
/*-------header-------*/
.back{
    float: left;
    list-style-type: none;
    margin-top: 25px;
    }
.back li {
    display:inline-block;
}
.back li a{
    text-decoration: none;
    color:#000000;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
.back li a:hover{
    background-color: #b27cf0;
    color:#000;
}
/*---- header end------*/
.log{
    margin:20px;
    margin-top:17px;
    padding: 10px;
}
.login-form {
    margin: 70px auto ;
    margin-right:30px;
    max-width: 400px;
    padding:40px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.login-form a{
    color:white;
    list-style-type: none;
    text-decoration: none;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 30px;
}

.form-control:focus {
    box-shadow: none;
}

.btn {
    font-size: 14px;
    font-weight: bold;
}

.btn-submit {
    background-color: #007bff;
    border-color: #007bff;
    height: 43px;
    width:320px;
}

.form-footer {
    
    text-align: center;
    margin-top: 20px;
}
.form-footer a{
    color: blue;
}