*{
    margin:0;
    padding:0;
}
.border{ 
    margin-top: 40px;
    padding: 30px;
    border: 1px ;
    border-color: rgb(228, 59, 59);
}
.postpic{
    padding: 40px;
  align-items: center;
   
}

.buttonone  a{
    color: black;
    list-style-type: none;
    text-decoration: none;
    
}

.buttonone p{
    
    padding: 10px;
    text-align: center;
    
}
.buttonone p a{
    margin-top:10px;
}
.buttonone p a:hover{
    background-color:green;
    color:black;
}
.buttontwo{
    
    padding:10px;
    width:150px;
    background-color: blue;
    color:white;
    border: 2px solid transparent;
    border-radius: 4px;

}
.texttt{
    margin-top: 40px;
    padding:20px;
    text-align: justify;

}
.texttt h2{
    text-align: center;
}
.texttt h4{
    text-align: center;
}
.texttt p{
    text-align: center;
}









