signup.csslogin.css
*{
    margin:0px;
    padding: 0px;
}

body {
    background-color: #f8f9fa;
}
/* --------------header-------------------------------*/
.back{
    float: left;
    list-style-type: none;
    margin-top: 25px;
    }
.back li {
    display:inline-block;
}
.back li a{
    text-decoration: none;
    color:#000000;
    padding: 5px 20px;
    border: 1px solid transparent;
   
    transition: 0.6s ease;
}
.back li a:hover{
    background-color: #b27cf0;
    color:#000;
}
/*----------------------- header end------------------------------------*/
.login-form {
    margin: 50px auto;
    max-width: 600px;
    padding: 40px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.login-form a{
    color :white;
    list-style-type: none;
    text-decoration: none;
}
.login-form h2 {
    text-align: center;
    margin-bottom: 10px;
    color: rgba(97, 97, 235, 0.568)
}
.login-form h3 {
    text-align: center;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.568)
}

.form-control:focus {
    box-shadow: none;
}

.btn {
    font-size: 20px;
    font-weight: bold;
    color:white;
}

.btn-submit {
    background-color: #5aec55;
    border-color: #5aec55;
    height: 43px;
    width:520px;
    
}

.form-footer {
    text-align: center;
    margin-top: 20px;
}